{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center mybg-dark">
  <h1 class="title">Projects</h1>
  <p class="lead">A collection of projects I've worked on.</p>
</div>

<div class="container">
  <div class="row d-flex">
    {{ range .Paginator.Pages }}
    <a
      href="{{ .Permalink }}"
      class="col-md-4 p-3 rounded mybg-dark text-white project-card hover-border"
    >
      <h2 class="mx-auto">{{ .Title }}</h2>
      <img class="rounded img-fluid" src="{{ .Params.image }}" />
      <p>{{ .Summary }}</p>
    </a>
    {{ end }}
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Previous</a>
    {{ end }} {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Next</a>
    {{ end }}
  </div>
</div>
{{ end }}
