body {
    background-color: #151b1f;
    color: #ffffff;
}

.mybg-dark {
    background-color: #1b2227;
}

a {
    color: #1e90ff; /* Link color (e.g., Dodger Blue) */
    text-decoration: none; /* Optional: Remove underline */
}

a:visited {
    color: #1e90ff; /* Visited link color (e.g., Dark Purple) */
}

a:hover {
    color: #ff6347; /* Hover color (e.g., Tomato) */
    text-decoration: underline; /* Optional: Underline on hover */
}

a:active {
    color: #ff4500; /* Active link color (e.g., Orange Red) */
}

@media (min-width: 992px) {
    .image-large {
        width: 70%;
    }
}

.shortcodes-note {
    background-color: #071c33;
    padding: 1em;
    border-radius: 4px;
    margin: 1em 0;
    /* font-weight: bold; */
    font-style: italic;
    width: 100%;
    box-sizing: border-box;
}

.shortcodes-emphasis {
    background-color: #101417; /* Background color */
    padding: 1em; /* Add padding for spacing */
    border-radius: 4px; /* Optional: add rounded corners */
    margin: 1em 0; /* Optional: add margin for spacing between elements */
    /* color: #ff6347; /\* Change this to your preferred text color *\/ */
    width: 100%; /* Ensure the div takes full width */
    box-sizing: border-box; /* Include padding and border in element's total width */
}
