{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center mybg-dark">
  <h1 class="title">Stuff I wrote about</h1>
</div>

<ul class="list-unstyled">
  {{ range .Paginator.Pages }}
  <a
    class="no-text-decoration"
    href="{{ .Permalink }}"
  >
    <li
      class="d-flex align-items-start mb-3 mybg-clickable p-3 rounded text-white hover-border"
    >
      <div class="mr-3">
        <span class="text-muted"> {{ .Date | dateFormat "Jan. 2006" }} </span>
      </div>
      <h5 class="mb-1">{{ .Title }}</h5>
      <p class="ml-3 mb-0 text-truncate">{{ .Summary }}</p>
    </li>
  </a>
  {{ end }}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}">Previous</a>
  {{ end }} {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}">Next</a>
  {{ end }}
</div>

{{ end }}
