{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center mybg-dark">
  <h1 class="title">Resume</h1>
</div>

<div class="container">
  <p class="text-center py-4">
    You can download my resume in either French or English here or reach out to
    me directly
    <a href="mailto:roch.damour@gmail.com">by email</a>.
  </p>

  <div class="row d-flex justify-content-center align-items-center">
    <a
      data-umami-event="resume (fr)"
      href="/files/Roch_Damour-CV-fr-2024.pdf"
      class="col-md-5 p-3 rounded mybg-clickable text-white hover-border"
    >
      <h2 class="mx-auto">Francais</h2>
      <img class="rounded img-fluid" src="/quebec.svg" />
    </a>

    <div class="col-md-1"></div>

    <!-- Image 2 -->
    <a
      data-umami-event="resume (en)"
      href="/files/Roch_Damour-CV-en-2024.pdf"
      class="col-md-5 p-3 rounded mybg-clickable text-white hover-border"
    >
      <h2 class="mx-auto">English</h2>
      <img class="rounded img-fluid" src="/canada.png" />
    </a>
  </div>
</div>

<br /><br />
{{ .Content }} {{ end }}
