{{ define "main" }}

<div id="home-jumbotron" class="jumbotron text-center mybg-dark">
  <h1 class="title">{{ .Title }}</h1>
  {{ if or .Params.repository .Params.live }}
  <div class="d-flex align-items-center justify-content-center">
    {{ if .Params.repository }}
    <a class="m-1 btn btn-sm hover-border d-flex align-items-center gap-1" href="{{ .Params.repository }}">
      <i class="mr-1" data-feather="github"></i> View Repository
    </a>
    {{ end }}
    {{ if .Params.live }}
    <a class="m-1 btn btn-sm hover-border d-flex align-items-center gap-1" href="{{ .Params.live }}">
      <i class="mr-1" data-feather="globe"></i> Visit Instance
    </a>
    {{ end }}
  </div>
  {{ end }}

  <p class="lead">{{ .Summary}}</p>
  <p class="lead">{{ partial "metadata.html" . }}</p>
</div>

{{ if .Params.image }}
<div class="row d-flex justify-content-center mx-auto">
  <img class="rounded img-fluid project-image" src="{{ .Params.image }}" />
</div>
{{ end }}
<div class="m-2 mini-padding mb-4">{{ .Content }}</div>
{{ end }}
