<footer class="text-white container rounded">
  <div class="mybg-dark rounded">
    <div class="row mx-0 pt-4 mt-4">
      <!-- About Section -->
      <div class="col-md-4">
        <h5>About Me</h5>
        <p class="text-muted">
          Software developer for software development. My interests in CI/CD,
          DevOps, Platform Engineering, SRE, Cloud Native things and Distributed
          Systems keeps me up at night.
        </p>
      </div>

      <!-- Contact Section -->
      <div class="col-md-4">
        <h5>Contact Info</h5>
        <ul class="list-unstyled text-muted">
          <li class="d-flex align-items-center">
            <i data-feather="map-pin" class="p-1"></i>Montréal, Quebec (Canada)
          </li>
          <li class="d-flex align-items-center">
            <i data-feather="mail" class="p-1"></i>roch.damour@gmail.com
          </li>
        </ul>
      </div>

      <!-- Social Media Section -->
      <div class="col-md-4">
        <h5>Socials</h5>
        <ul class="list-unstyled d-flex">
          <li>
            <a href="https://github.com/notarock" class="text-muted pr-2"
              ><i data-feather="github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/notarock/"
              class="text-muted pr-2"
              ><i data-feather="linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="row mt-4 mx-0">
      <div class="col text-center">
        <p class="text-muted pt-1">
          &copy; {{ now.Format "2006"}} Notarock (Roch D'Amour)
        </p>
      </div>
    </div>
  </div>
</footer>
