<div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-between align-items-center px-5">
        <p class="nav-link dancing-text mb-0" href="/">Roch D'Amour</p>
        <div class="d-flex">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
        </div>
    </nav>
</div>
