<p class="row d-flex justify-content-center">
  {{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $dateFormat :=
  .Site.Params.dateFormat | default "Jan 2, 2006" }}
  <i class="p-1" data-feather="calendar"></i>
  <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</p>
<p class="row d-flex justify-content-center">
  {{ with .Params.tags }}
  <i class="m-1 p-1" data-feather="tag"></i>
  {{ range . }} {{ $href := print (absURL "tags/") (urlize .) }}
  <a class="btn btn-sm hover-border" href="{{ $href }}">{{ . }}</a>
  {{ end }} {{ end }}
</p>
