{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center mybg-dark">
  <h1 class="title">{{ .Site.Title }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img
        class="rounded-circle shadow"
        width="200"
        height="200"
        src="https://avatars.githubusercontent.com/u/25652765?s=400&u=adb58cca4e1fb489a9a3beccda93ede697fc3e75&v=4"
      />
    </div>
    <div class="col-md-9">
      <h4>Hello 👋</h4>
      <p>
        I'm Roch D'Amour, aka
        <a href="https://github.com/notarock">notarock</a>. A Software Developer
        from Quebec, Canada.
      </p>
      <p>
        I'm passionate about open-source software and enjoy exploring new tools
        and ideas, whether it's for work or personal side projects. This website
        is where I share my experiences with software development, DevOps, and
        system engineering. I also use this space to share the fun projects I
        work on in my free time or discoveries I make while trying to host and
        maintain services alive for myself, friends and family.
      </p>
      <p>Hopefully, this summary doesn't sound <i>too cliche.</i></p>
    </div>
  </div>
  <p class="py-4 text-center">
    For now, the website is still under construction. I have a backlog of
    content that I still need to get to! Feel free to check in from time to
    time.
  </p>
</div>
{{ end }}
