<div class="row d-flex justify-content-center align-items-center" style="gap: 1rem;">
  <a
    href="{{ .Get "href1" }}"
    class="col-md-3 col-sm-5 p-3 rounded mybg-clickable text-white hover-border d-flex align-items-center justify-content-center"
    style="max-width: 250px; min-height: 60px;"
  >
    <h5 class="m-0">{{ .Get "text1" }}</h5>
  </a>

  <a
    href="{{ .Get "href2" }}"
    class="col-md-3 col-sm-5 p-3 rounded mybg-clickable text-white hover-border d-flex align-items-center justify-content-center"
    style="max-width: 250px; min-height: 60px;"
  >
    <h5 class="m-0">{{ .Get "text2" }}</h5>
  </a>
</div>
